/* About Page */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 50px;
  padding-top: 110px;
  z-index: 1;
  animation: aboutFadeIn 1s ease both;
}

.about-content {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  max-width: 1800px;
}

.about-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 65% center;
}

.about-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1800px;
  color: #ddd;
}

.about-header {
  text-align: left;
  margin-bottom: 30px;
}

.about-header h1 {
  font-size: 4rem;
  color: #ddd;
  margin: 0;
}

.about-text {
  text-align: justify;
  font-size: 1.4rem;
  color: #ddd;
  line-height: 1.6;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 10px 40px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.about-text:hover {
  transform: scale(1.05);
  background-color: #061338;
}

@media (max-width: 600px) {
  .about-container {
    margin: 20px;
    padding-top: 100px;
  }

  .about-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .about-image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }

  .about-header h1 {
    font-size: 2.5rem;
    padding: 0px 20px;
  }

  .about-text {
    font-size: 1.2rem;
    padding: 0px 20px;
  }

  .about-text:hover {
    transform: none;
    background-color: inherit;
  }
}
