/* Contact Page */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px;
  padding-top: 110px;
  box-sizing: border-box;
  animation: aboutFadeIn 1s ease both;
}

.contact-content {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  max-width: 1300px;
}

.contact-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 65% center;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 920px;
  color: #ddd;
}

.contact-header {
  text-align: justify;
  margin-bottom: 30px;
}

.contact-header h1 {
  font-size: 4rem;
  color: #ddd;
  margin: 0;
}

.contact-box {
  text-align: justify;
  font-size: 2rem;
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 10px;
}

.contact-box p {
  margin: 10px 0;
}

.contact-box p strong {
  display: block;
  text-align: center;
  margin: 15px 0;
  font-size: 2.6rem;
  color: #ffffff;
}

.contact-social-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.contact-social-logo {
  width: 65px;
  height: 65px;
  transition: transform 0.3s ease;
}

.contact-social-logo:hover {
  transform: scale(1.15);
}

@media (max-width: 600px) {
  .contact-container {
    margin: 20px;
    padding-top: 100px;
  }

  .contact-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .contact-image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }

  .contact-header h1 {
    font-size: 2.5rem;
    padding: 0px 20px;
  }

  .contact-box {
    font-size: 1.2rem;
    padding: 0px 20px;
  }

  .contact-box p strong {
    font-size: 1.8rem;
  }

  .contact-social-logo {
    width: 50px;
    height: 50px;
    padding: 0px 20px;
    transition: transform 0.3s ease;
  }

  .contact-social-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
