/* Index Page */
.index-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px;
}

.index-content {
  position: relative;
  max-width: 800px;
  text-align: center;
  color: #ddd;
  z-index: 2;
  padding: 40px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease both;
}

.index-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 2s linear;
}

.index-content.with-image::before {
  background-image: url('../images/homepage_image.webp');
  animation: fadeInImage 8s linear forwards;
}

.index-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 19, 56, 0.6); 
  z-index: 2;
  border-radius: 20px;
}

.index-content h1,
.index-content p,
.index-content .index-button {
  position: relative;
  z-index: 3;
}

.index-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.index-content p {
  font-size: 1.4rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #ddd;
}


@keyframes fadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .index-content {
    text-align: center;
    font-size: 1rem;
    padding: 0 5% 10%;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
  }

  .index-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0;
  }

  .index-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

}
